html, body {
    margin: 0px;
    background-color: #eee;
    height: 100%;
}

.actived{
    border-bottom: 4px solid #84BD00;
    padding-bottom: 4px;
}

.row{
    height: 100%;
}
.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.navigation{
    text-align: center;
    color: white;
    background-color: #1C1C1F;
    height: 100%;
}

.navigation a:hover{
    color: white;

}

.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.navigation .glyphicon{
    font-size: 20px;
    width: 100%;
}

#user_logged{
    text-decoration: center;
    background-color: #1C1C1F;
    bottom: 0px;
}

artist-list{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style: none; 
}

.artist-item{
    width: 23%; 
    padding: 0px;
    margin: 0px;
    height: 317px; 
    border: 1px solid #444;
    margin-left: 20px;
    margin-top: 20px; 
}

.artist-item .artist-image{
    height: 245px;
    width: 100%;
    overflow: hidden; 
}

.artist-item .artist-image img{
    width: 100%;
}

.artist-item .artist-name{
    color: white;
    padding: 10px;
    background: #222326;
}

.artist-item .artist-name a{
    color: white;
}